html body{
	margin: 0;
	padding: 0;
}
*{
	max-height:2471px;
	font-family: "Century Gothic";
}
.container{
	display: flex;
	width: 100%;
}

.header{
	display: flex;
	height: 140px;
	background-color: white;
	box-shadow: 0px 4px 4px 0px #00000040;

}

.logo{
	margin-left: 100px;
	width: 210px;
	height: 180px;
}

.div1 {
	background: url(image/главная.png);
	width: 100%;
	height: 870px;
}
nav{
	float: right;
}
ul {
	line-height: 140px;
	list-style: none; 
	margin: 0;
	padding-left: 0;

}
li {
	margin-right: 100px;
	padding: 5px ;
	display: inline-block; 
}
.container{
	display: flex;
	justify-content: center;
	width: 100%;
}

a {
	text-decoration: none; 
	color: black;
}
a:hover{
	color: #FF3F99;
}



.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form textarea{
 outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
	background:rgba(233, 83, 137, 0.55);
  	text-transform: uppercase;
  outline: 0;
  border-radius: 60px;
	border: 3px solid ;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
  color: #F137A6;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.h1{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;

}


body {
   
}

.footer{
	height: 237px;
	margin-top: 100px;
	background: #A46375;
}

.icon-viber1{
	left: 46px;
	top: 132px;
	margin-left: 48px;
	margin-top: 82px;
	transition: 1s;
}
.icon-viber1:hover{
	transform: scale(1.2); 
}

.icon-telegram1{
	margin-left: 46px;
  	margin-top: 10px;
  	transition: 1s;
}
.icon-telegram1:hover{
	transform: scale(1.2); 
}
.icon-watsapp1{
	left: 46px;
	top: 200px;
	margin-left: 40px;
	margin-top: 150px;
	transition: 1s;
}
.icon-watsapp1:hover{
	transform: scale(1.2); 
}
.footer p{

	color: white;
	font-size: 18px;
	text-align: right;
	padding: 30px;
	padding-right: 50px;
}

.purp{
	float: left;
	display: flex;
	width: 195px;
	height: 365px;
	margin-top: -286px;
	background: rgba(206, 151, 243, 0.55);
}

.yell{
	float: left;
	display: flex;
	width: 195px;
	height: 299px;
	margin-left: -20px;
	margin-top: -220px;
	background: rgba(254, 205, 113, 0.55);
}

.rose{
	float: left;
	display: flex;
	width: 195px;
	height: 224px;
	margin-left: -20px;
	margin-top: -145px;
	background: rgba(233, 83, 137, 0.55);
}


@media screen and (max-width:480px) {
	.header {
    height: 150px;
    width: 480px;
    background: white;
	}

	.logo {
    margin-left: 0px;
    width: 100px;
    height: 100px;
}
	
	ul {
    float: right;
    line-height: 150px;
    list-style: none;
    margin: 0;
    padding-left: 0;
	}
	nav{
		font-size: 12px;
	}

	li {
    margin-right: 10px;
    padding: 5px;
    display: inline-block;
	}
	.formpos{
		display: flex;
		justify-content: center;
		width: 775px;
	}
	
.container {
	width: 480px;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
}
	.services{
	display: none;
	justify-content: center;
	}

	.footer {
    height: 237px;
    margin-top: 36px;
    background: #A46375;
    width: 480px;
	}

	.footer p{
		font-size: 14px;
	}

	.purp{
		display: none;
	}
	.yell{
		display: none;
	}
	.rose{
		display: none;
	}
	.viber{
	display: none;
}



.teleg{
	display: none;
}
.watsapp {
	display: none;
}
.div2{
	display: none;
}
.btn{
	display: none;
}



}

